<!DOCTYPE html>
<html lang="en" ng-app="broken">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div ng-controller="MainController">
    {{ view.message }}
    <div ng-if="view.number === 42">
      Secret Message: <input type="text" ng-model="view.message">
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="07-app.js"></script>
</body>
</html>

root scope is the ultimate parent scope within each application. as code it can be writted "var rootScope = angular.element(document).scope()".
scope is inherited from parent to child elements (like prototypical inheritance)
These create their own scope: ng-controller, ng-repeat, ng-if (actually destroys the scope every time it is false and creates a new one every time it is true - be careful with this one!), ng-view, ng-switch, ng-include
This means that one must first make an object in the parent scope and assign the value to a property within that object.
</aside>
