img {
  width: 90%;
  height:90%
}

.glyphicon-arrow-up:hover, .good{
  color: green;
}
.glyphicon-arrow-down:hover, .bad{
  color: red;
}

.hoverable:hover{
  cursor: pointer;
}
.row{
  margin: 3vw;
}
